<div class="home-hero">
	<div class="container">
		<h1 class="home-hero-punchline">24HOUR LIME. DIGITAL DESIGN.</h1>
	</div>

	<div class="block">
		<ul class="flex-container">
			<li class="block-item">
				<div class="verticalline"></div>
				<a href="http://24hourlime.com.au/portfolio/">
					<div class="boldnumbers">
						<b>01</b>
						<div class="homenav">WORK</div>
					</div>
				</a>
			</li>

			<li class="block-item">
				<div class="verticalline"></div>
				<a data-scroll href="#About">
					<div class="boldnumbers">
						<b>02</b>
						<div class="homenav">ABOUT</div>
					</div>
				</a>
			</li>

			<li class="block-item">
				<div class="verticalline"></div>
				<a href="http://24hourlime.com.au/portfolio/journal/">
					<div class="boldnumbers">
						<b>03</b>
						<div class ="homenav">JOURNAL</div>
					</div>
				</a>
			</li>

			<li class="block-item">
				<div class="verticalline"></div>
				<a data-scroll href="#Contact">
					<div class="boldnumbers">
						<b>04</b>
						<div class ="homenav">CONTACT</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>



<ul class="flex-column flex-4-column">
	<li class="column-item">
		<h2 id="About" class="page-header-2">DIGITAL DESIGN</h2>
	</li>
	<li class="column-item"></li>
	<li class="column-item"></li>
	<li class="column-item"></li>

</ul>

<ul class="flex-column flex-4-column">
  <li class="column-item">
		<div>
			<p>
				Hello, I'm Jarrod and I make things. I have a passion for design and a partcular interest in beautiful user interfaces.
			</p>
		</div>
		<div class="align-center jarrods-face">
			<img src="/_themes/24hl/img/portrait.jpg" alt="me smiling!">
		</div>
	</li>
	<li class="column-item">
		<p>
			<b>
				24hour lime is Digital Design. Web, mobile, devices, other things. <br><br>Religion: The united church of UX focused design
			</b>
		</p>
	</li>
	<li class="column-item"></li>
	<li class="column-item"></li>

</ul>
<ul class="flex-column flex-4-column">
	<li class="column-item">
		<p>I am a freelance designer and I work under the name 24hour lime. I got established mid-2014 and have been working with clients, trying to deliver the best possible designs ever since. Every day I get to learn new things while making people happy. What else could you ask for?<br><br>
To me, design is more than just communication or aesthetics - it is the examination and understanding of a problem, then coming up with a solution that fits within the given criteria and requirements. It provides functionality, has the user experience at the forefront, and also excites or delights. Design makes clients money, and changes how we live. That is a powerful thing.<br><br>
My focus is on UX-based design and my passion is UI. Give me the chance to design a new interface for a device or for the web and I'll happily run with it. <br><br>
If you are looking to hire a designer, get in touch. If it is an interesting or socially beneficial project, or you are a not-for-profit or charity, the quote may be very cheap (hint: free!).
		</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<a href="http://24hourlime.com.au/portfolio/2015/08/21/responsive-web-design-2/">
				<img src="/assets/img/Think-Site-Devices-Mockup-web.jpg" alt="think corporate site" height="220">
			</a>
			<a href="http://24hourlime.com.au/portfolio/2015/08/17/typography/">
				<img src="/assets/img/type_artwork_adele.jpg" alt="typography" height="220">
			</a>
		</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<a href="http://24hourlime.com.au/portfolio/2015/08/17/io-agency-branding-3/">
				<img src="/assets/img/branding-mockup.jpg" alt="i/o branding" height="220">
			</a>
			<a href="http://24hourlime.com.au/portfolio/2015/08/17/elc-sites/">
				<img src="/assets/img/elc-site-mockup.jpg" alt="elc site design" height="220">
			</a>
		</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<a href="http://24hourlime.com.au/portfolio/2015/09/03/mobile-uiux/">
				<img src="/assets/img/v3_mockup_red1.jpg" alt="mobile ui design" height="220">
			</a>
			<a href="http://24hourlime.com.au/portfolio/2015/08/17/early-learning-centre-branding/">
				<img src="/assets/img/loyalty-card-mockup-web.jpg" alt="loyalty cards" height="220">
			</a>
		</p>
	</li>
</ul>




<ul class="flex-column-seperator">
	<li class="column-item column-no-padding-left">
	<div class="page-seperator"></div>
	</li>
	<li class="column-item column-no-padding">
	<div class="page-seperator"></div>
	</li>
	<li class="column-item column-no-padding">
	<div class="page-seperator"></div>
	</li>
	<li class="column-item column-no-padding-right">
	<div class="page-seperator"></div>
	</li>

</ul>


<ul class="flex-column flex-4-column">
	<li class="column-item">
		<p>
			<img src="/assets/img/logo_light_grey_watermark_style.png" alt="24hl logo" height="50">
			<img src="/assets/img/logo-m@2x.png" alt="24hl logo" hspace="30" height="30">
			<img src="/assets/img/statamiclogo.jpg" alt="statamic logo" height="50">
		</p>
		<br>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<b>
				If you like coffee and would like to catch up to chat about a project or need designer to help build your product, contact me below. I work out of an office in Brunswick East, Victoria, Australia.
				<br><br><br><br><br><br><br><br><br><br>
			</b>
		</p>
	</li>
	<li class="column-item"></li>
	<li class="column-item"></li>
</ul>

<div class="contact-background">
	<div class="journal-nav">
	  <nav class="block-navigation">
	    <ul class="nav nav-dark" role="navigation">
	      <li><a href="http://24hourlime.com.au/portfolio/">WORK</a>
				<li><a data-scroll href="#About">ABOUT</a>
				<li><a href="http://24hourlime.com.au/portfolio/journal/">JOURNAL</a>
				<li><a data-scroll href="#Contact">CONTACT</a>
				</li>
	    </ul>
	  </nav>
	</div>





	<ul class="flex-column flex-4-column">
		<li class="column-item">
			<h2 id="Contact" class="page-header-2">LET'S WORK TOGETHER</h2>
		</li>
		<li class="column-item"></li>
		<li class="column-item"></li>
		<li class="column-item"></li>
	</ul>

	<ul class="flex-column flex-4-column">

	  <li class="column-item column-dark">
			<p><b>See that just over there? That's a form. Everyone loves forms! Why not fill your details and hit the orange button? </b><br><br>
			Starting a new business and need a logo, branding, and a responive website? Got an idea for a mobile app? Need help turning your ideas into something visual and beautiful? <br><br>
			You've come to the right place. Contact me via the form to the right or even just send me an <a href="mailto:info@24hourlime.com.au">email</a> and I'll provide you with a quote.
			I also work closely with front end and iOS developers, so can build your entire product - from strategy and research to wireframes and user stories, from low-fidelity designs to high-def prototypes. <br><br>

			</p>
		</li>
		<li class="column-item column-dark">
			{{ if {raven:success} }}
				<h1>Thanks!</h1>
				{{ success_message }}
			{{ else }}


				{{ content }}

				{{ raven:errors }}

					{{ if missing }}
					<div class="error-block">
						<h2>Missing fields:</h2>
						<ul>
							{{ missing }}
								<li><strong>{{ field }}</strong></li>
							{{ /missing }}
						</ul>
					</div>
					{{ endif }}

					{{ if invalid }}
					<div class="error-block">
						<h2>Invalid fields:</h2>
						<ul>
							{{ invalid }}
								<li><strong>{{ field }}</strong>: {{ message }}</li>
							{{ /invalid }}
						</ul>
					</div>
					{{ endif }}

				{{ /raven:errors }}

				{{ raven:form formset="contact" attr="class:form-horizontal" }}
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="firstname" name="firstname" placeholder="Name" value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Company</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="surname" name="surname" placeholder="Company" value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input class="form-control" type="email" id="email" name="email" placeholder="Email" value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Phone</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="postcode" name="postcode" placeholder="Phone" value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="message" class="col-sm-3 control-label">Message</label>
						<div class="col-sm-9">
							<textarea input class="form-control" type="text" id="phone" textarea name="message" rows="3" textarea placeholder="Message" value="" /></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-6 col-sm-6 text-right">
							<button class="btn btn-md btn-primary" type="submit">Submit</button>
						</div>
					</div>
				{{ /raven:form }}
			{{ endif }}
		</li>
		<li class="column-item"></li>
		<li class="column-item"></li>
	</ul>


</div>
