

<!-- particles.js container -->

<div id="particles-js">


  <!-- scripts -->
  <script src="/_themes/24hl/js/particles.js"></script>
  <script src="/_themes/24hl/js/app.js"></script>



<div class="journal-nav">
  <nav class="block-navigation">
    <ul class="nav nav-dark" role="navigation">
      <li><a href="/">HOME</a>
      {{ nav from="/" }}
        <li {{ if is_current || is_parent }} class="nav-active"{{ endif }}>
          <a href="{{ url }}">
            {{ title }}
          </a>
        </li>
      {{ /nav }}
    </ul>
  </nav>
</div>




  <div class="journal-layout">
    <ul class="flex-4-column">
    	<li class="column-page-header">
    		<h2 class="page-header">24HOUR LIME. DIGITAL DESIGN.</h2>
    	</li>
    	<li class="column-item">
    		<p>

    		</p>
    	</li>
    	<li class="column-item">
    		<p>

    		</p>
    	</li>
    	<li class="column-item">
    		<p>

    		</p>
    	</li>
    </ul>
    <div class="page-seperator-dark">
    </div>

    <div class="col-md-offset-3 col-md-6">
      <div class="journal-container">


        {{ content }}

        {{ entries:listing folder="blog" limit="5" }}
        <h4><a href="{{ url }}">{{ title }}</a></h4>
        <h5>{{ date }}</h5>
        {{ content }}<br><br>
        {{ /entries:listing }}
      </div>
    </div>
  </div>
