

<!-- particles.js container -->

<div id="particles-js"></div>


<!-- scripts -->
<script src="/_themes/24hl/js/particles.js"></script>
<script src="/_themes/24hl/js/app.js"></script>

<div class="journal-nav">
  <nav class="block-navigation">
    <ul class="nav nav-dark" role="navigation">
      <li><a href="/">HOME</a>
        <li><a href="/Work">WORK</a>
        <li><a href="/#About">ABOUT</a>
        <li class="nav-active"><a href="/Journal">JOURNAL</a>
        <li><a href="/#Contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>


<div class="journal-layout">
  <ul class="flex-column flex-2-column">
  	<li class="column-item">
  		<h2 class="page-header-2">24HOUR JOURNAL</h2>
      <p class="column-item column-dark"><b>Stuff and things, mostly daily, sometimes not.</b></p>
  	</li>
  	<li class="column-item"></li>
  </ul>
  <div class="flex-column flex-1-column">
    <div class="page-seperator-dark"></div>
  </div>
  <div class="flex-column flex-4-column">
    <li class="column-item column-dark"></li>
    <li class="column-item flexgrow">
      <div class="journal-container">
        {{ content }}

        {{ entries:listing folder="blog" limit="5" }}
        <h4><a href="{{ url }}">{{ title }}</a></h4>
        <h5>{{ date }}</h5>
        {{ content }}<br><br>
        {{ /entries:listing }}
      </div>

      <li class="column-item"></li>

    </div>
  </div>
