<!-- top blurb and header bit -->
			<ul class="flex-4-column">
				<li class="column-page-header">
					<h2 class="column-item">CLIENT WORK</h2>
				</li>
				<li class="column-page-header">
					<h2 class="column-item"><b>Some comment on the work</b></h2>
				</li>
				<li class="column-page-header">
					<h2 class="column-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis porta. Mauris faucibus hendrerit pulvinar. Pellentesque sagittis, enim eu ornare dapibus, ligula nibh fermentum mauris, nec interdum lorem ante vel nunc.</h2>
				</li>
				<li class="column-page-header">
					<h2 class="column-item"></h2>
					<p></p>
				</li>
			</ul>

<!-- content bit -->
<ul class="flex-4-column">
	<li class="column-page-header">
	<h2 class="column-image"></h2>
		<p>
		</p>
	</li>
	<li class="column-page-header">
		<h2 class="column-image"></h2>
		<p>
		<img src="/assets/img/domoto_large.jpg" alt="domoto logo" height="800" width="1200">

		</p>
	</li>


</ul>
<br><br><br>

          <div class="list-files">
            {{ files }}
              <a class="list-file" href="{{ filePath }}">
                {{ title }} {{ description }}
              </a>
            {{ /files }}
          </div>

        </div>
      </div>
    </div>

</main>
