<!-- top blurb and header bit -->
<ul class="flex-column flex-4-column">
	<li class="column-item">
		<p class="page-header-2">CLIENT WORK</p>
	</li>
	<li class="column-item">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis porta. Mauris faucibus hendrerit pulvinar. Pellentesque sagittis, enim eu ornare dapibus, ligula nibh fermentum mauris, nec interdum lorem ante vel nunc.</p>
	</li>
	<li class="column-item">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis porta. Mauris faucibus hendrerit pulvinar. Pellentesque sagittis, enim eu ornare dapibus, ligula nibh fermentum mauris, nec interdum lorem ante vel nunc.</p>
	</li>
	<li class="column-item"></li>
</ul>

<!-- content bit -->



<ul class="flex-column flex-4-column">

	{{ gallery }}
	<li class="column-item column-no-padding">
		{{ entries:listing folder="gallery" limit="5" }}
		<a href="{{ url }}">{{ title }}</a>
        <img src="{{ transform src="{{ img }}" width="350" height="220" }}">
        <div>{{ title }}</div>
      </a>
	</li>
		{{ /entries:listing }}
	{{ /gallery }}
	
</ul>
