<!-- top blurb and header bit -->
<ul class="flex-column flex-4-column">
	<li class="column-item">
		<p class="page-header-2">CLIENT WORK</p>
	</li>
	<li class="column-item">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis porta. Mauris faucibus hendrerit pulvinar. Pellentesque sagittis, enim eu ornare dapibus, ligula nibh fermentum mauris, nec interdum lorem ante vel nunc.</p>
	</li>
	<li class="column-item">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum lobortis porta. Mauris faucibus hendrerit pulvinar. Pellentesque sagittis, enim eu ornare dapibus, ligula nibh fermentum mauris, nec interdum lorem ante vel nunc.</p>
	</li>
	<li class="column-item"></li>
</ul>

<!-- content bit -->
<ul class="flex-column flex-4-column">
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>
			This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>
			This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>This is some text
		</p>
	</li>
</ul>

<ul class="flex-column flex-4-column">
	<li class="column-item column-no-padding">
		<p>
			<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
			<br>This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
			<br>This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
			<br>This is some text
			</p>
	</li>
	<li class="column-item column-no-padding">
		<p>
			<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
			<br>This is some text
		</p>
	</li>
</ul>

<ul class="flex-column flex-4-column">
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>
			This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>
			This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>This is some text
		</p>
	</li>
	<li class="column-item column-no-padding">
		<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
		<p>
			<br>This is some text
		</p>
	</li>
</ul>

<div class="flex-column flex-4-column">
  {{ files }}
		<li class="column-item column-no-padding">
			<p>
				<img src="/assets/img/about-1.jpg" alt="domoto logo" height="220">
				{{ title }}
			</p>
		</li>
    <a class="list-file" href="{{ filePath }}">
      {{ title }} {{ description }}
    </a>
  {{ /files }}
</div>
