<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <title>
      {{ _site_name }}
      {{ if segment_1 }}
      – {{ title }}
      {{ endif }}
    </title>

    <!-- styles -->
    {{ if is_dev }}
      <link rel="stylesheet" href="{{ theme:css src="24hl" }}" rel="styleheet">
    {{ else }}
      <link rel="stylesheet" href="{{ theme:css src="24hl.min" }}">
    {{ endif }}


    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.png" }}">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body id="top" class="page-{{segment_1}}">
    <header class="header">
      <div class="container">
        <h1 class="block-logo">

          <a href="{{ homepage }}">
            <span class="top"></span>
            <span class="bottom"></span>
            <span class="description">
              {{ _site_name|widont }}
            </span>
          </a>
        </h1>

        <nav class="block-navigation">
          <ul class="nav nav-main" role="navigation">
            {{ nav from="/" }}
              <li {{ if is_current || is_parent }} class="nav-active"{{ endif }}>
                <a href="{{ url }}">
                  {{ title }}
                </a>
              </li>
            {{ /nav }}
          </ul>
<!--           <div class="visible-xs">
  <a href="#nav">☰ Menu</a>
</div> -->
        </nav>
      </div>
    </header>


    {{ layout_content }}

    <!--
    <div class="small-screen-nav" id="nav">
      <h3>Navigation</h3>
      <a href="/">Home</a>
      {{ nav from="/" }}<a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ endif }}>{{ title }}</a>{{ /nav }}
      <a href="#top">Back to the Top</a>
    </div>
    -->

    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <h4>Company</h4>
            <ul class="list-unstyled">
              <li><a href="/about">About</a></li>
              <li><a href="/investors">Investors</a></li>
              <li><a href="/sell-your-centre">Sell Your Centre</a></li>


            </ul>
          </div>
          <div class="col-xs-12 col-sm-2">
            <h4> <a href="/careers">Careers</a></h4>
            <ul class="list-unstyled">
              <li><a href="/careers#current-vacancies">Current Vacancies</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-2">
            <h4>Support</h4>
            <ul class="list-unstyled">
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/about/privacy">Privacy</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-2 footer-overview">
            <div class="clearfix">
              <div class="block-logo" style="float: right;">
                <a href="{{ homepage }}">{{ _site_name|widont }}</a>
              </div>
            </div><br>
            <p>
              Think Childcare Limited <br>
              Suite 3, 1 Park Avenue <br>
              Drummoyne NSW 2047<br>

              PO Box 465 Drummoyne NSW, 1470 <br>
            </p>
            <div class="think-lines"></div><br>
            <div class="footer-subtext">
            <p>
              Copyright Think Childcare Limited 2015. Design by <a href="http://24hourlime.com.au">24HL</a>
            </p></div>
          </div>
        </div>
      </div>
    </footer>

    {{ location:start_maps smart_include="true" }}


    {{ if is_dev }}
      <script src="{{ theme:js src='jquery.js' }}"></script>
      <script src="{{ theme:js src='smooth-scroll.min.js' }}"></script>
      <script src="{{ theme:js }}"></script>
    	<script src="//localhost:8090/livereload.js"></script>
    {{ else }}
      <script src="{{ theme:js src='min/kinder.min.js' }}"></script>
    {{ endif }}
  </body>
</html>
